{% extends 'layout.html' %}



{% block mainpage %}


<div class="wrapper">

<div class="info">

    <div class="description">
        <p class ="names"> UMC </p>

    <div class="desc">
        <ul class="checkmark">
            <li><a href="{{ url_for('main.zae')}}">Оставить заявку</a></li>
             <li><a href="{{ url_for('main.zae')}}">Оставить Жалобу</a></li>
             <li><a href="{{ url_for('main.zae')}}">Койш</a></li>
        </ul>
    </div>
</div>
    </div>
</div>
main.


{% endblock %}